<!-- wp:pattern {"slug":"aamira/header3"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top: var(--wp--preset--spacing--60)">
  <!-- wp:pattern {"slug":"aamira/header-hero-section2"} /-->
  <!-- wp:pattern {"slug":"aamira/service-section"} /-->
  <!-- wp:pattern {"slug":"aamira/faqs"} /-->
  <!-- wp:pattern {"slug":"aamira/calling-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"aamira/footer3"} /-->
