<!-- wp:pattern {"slug":"coderstime-jadoo/header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top: var(--wp--preset--spacing--60)">
  <!-- wp:pattern {"slug":"coderstime-jadoo/hero-section-jadoo"} /-->
  <!-- wp:pattern {"slug":"coderstime-jadoo/service-category"} /-->
  <!-- wp:pattern {"slug":"coderstime-jadoo/destination-section"} /-->
  <!-- wp:pattern {"slug":"coderstime-jadoo/easyandfirst-section"} /-->
  <!-- wp:pattern {"slug":"coderstime-jadoo/testimonial-section"} /-->
  <!-- wp:pattern {"slug":"coderstime-jadoo/partner-section"} /-->
  <!-- wp:pattern {"slug":"coderstime-jadoo/newsletter-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"coderstime-jadoo/footer"} /-->
